
/* Banner */
.banner {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-img {
  height: 100%;
}


/* About */
.about h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.about h3 {
  font-size: 26px;
  color: #5b3920;
  margin-bottom: 15px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 280px;
  gap: 20px; 
}

.about-content img {
  width: 50%; 
  height: 100%; 
  object-fit: cover; 
}

.about-content p {
  width: 50%;
  margin: 0; 
  font-weight: 700;
}


/* --- KHÔNG GIAN QUÁN --- */
.space {
  text-align: center;
}

.space h2 {
  text-align: left;
  font-size: 20px;
  color: #3b2c18;
  margin-bottom: 15px;
}

/* Featured dishes */
.featured {
  padding: 10px 50px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.dish {
  width: 150px;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.dish-img {
  height: 120px;
  background-image: url("/public/food.png");
  background-size: cover;      
  background-position: center;   
  background-repeat: no-repeat;  
  margin-bottom: 8px;
  border-radius: 6px;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5b3920;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #734b28;
}
