body {
  color: #3b2c18;
  font-family: "Segoe UI", sans-serif;
}

.text-brown {
  color: #5b3920;
}

.bg1 {
  background-image: url("/public/bg1.png");
  background-size: cover;
  background-position: center;
}

.bg2 {
  background-image: url("/public/bg2.png");
  background-size: cover;
  background-position: center;
}
