.dish {
  border: 2px solid #a67b5b !important;
  border-radius: 10px;
  transition: 0.3s;
}

.dish:hover {
  box-shadow: 0 0 8px rgba(166, 123, 91, 0.5);
  transform: translateY(-2px);
}

.dish.active {
  border-color: #4CAF50 !important;
  background-color: #DFF5E1;
}
