.dish {
  border: 2px solid #a67b5b !important; /* nâu nhạt kiểu cafe */
  border-radius: 10px;
  transition: 0.3s;
}

.dish:hover {
  box-shadow: 0 0 8px rgba(166, 123, 91, 0.5);
  transform: translateY(-2px);
}

.dish.active {
  border-color: #ffd700 !important; /* vàng khi chọn */
  background-color: #fff9d6;
}
